<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.narcolepsyquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizActivity"
            android:label="@string/quiz_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".QuestionActivity"
            android:theme="@style/QuestionTheme" />
        <activity
            android:name=".QuizResultsActivity"
            android:label="@string/quiz_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LearnActivity"
            android:label="@string/learn_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EpworthActivity"
            android:label="Epworth Sleepiness Scale"
            android:theme="@style/AppTheme" />
        <activity android:name=".EpworthResultsActivity"
            android:label="Epworth Sleepiness Scale"
            android:theme="@style/AppTheme" />
    </application>

</manifest>